/** ==================== fix style of theme Pixel-cookers =============== **/
#top-menu { left: 0px; }

/** ==================== added by owent =============== **/
body {
    font-size: 14px;
    font-family: 'Anonymous Pro', 'DejaVu Sans Mono', 'DejaVu Serif', Arial, 'Microsoft YaHei', Verdana, 'BitStream vera Sans', Tahoma, Helvetica, sans-serif !important;
}

.description * {
    font-size: 16px;
}

.subject {
    font-size: large !important;
}

.subject a {
    font-weight: bolder;
    color: #800080 !important;
}

.subject h3 {
    font-weight: bolder;
    color: #800080;
    font-size: xx-large;
}

.tracker {
    color: #800000 !important;
}

.priority {
    font-weight: bold;
    color: #404000;
}

table.list thead th {
    font-size: 14px !important;
}

table.list td, table.list td * {
    font-size: larger !important;
}

table.list tr td.id a {
    color: darkblue;
}

#context-menu, #context-menu * {
    font-size: large;
}

#checklist p, .description>p, .description>p>strong, #issue_tree p, #relations p {
    padding: 5px 0 5px 10px;
    background-color: #C0C0C0;
    font-size: large;
}

#checklist #checklist_items li {
    font-size: larger;
    font-weight: bold;
    color: #6020A0;
}

.wiki {
    font-size: larger;
    color: Black;
}

.has-notes {
    border: 1px solid #800000;
    padding: 10px 5px 5px 10px;
}

.has-details h4, .has-details ul{
    display: inline-block;
}


